body {
    margin: 0;
    font-family: 'Sofia Sans', sans-serif;
}
.calculator-body {
    background-color: lightgrey;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(61, 61, 61);
}

.screen {
    background-color: white;
    width: 92%;
    align-self: center;
    height: 80px;
    margin-top: 10px;
    display: flex;
    justify-content: end;
    align-items: end;
    border: solid black 1px;
}

.wrapper {
    padding: 10px 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 78px;

}

button {
    background-color: rgb(223, 221, 221);
    border: 1px solid rgb(150, 150, 150);
    color: black;
    text-align: center;
    font-size: 28px;
    font-family: 'Sofia Sans', sans-serif;
}

#num-0 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.screen-content {
    font-size: 50px;
    padding: 6px;
    font-family: 'Sofia Sans', sans-serif;
}

.selected {
    background-color: gray;
    color: white;
}